<table style="width: 100%;text-align:center;">
  <tr>
    <td>
      {{link-to "Home" "application"}}
    </td>
    {{#if session.isAuthenticated}}
    <td>
      {{link-to "Secrets" "secret"}}
    </td>
    {{/if}}
    <td>
    {{#unless session.isAuthenticated}}
      {{link-to "Login" "login"}}
    {{else}}
      <a href="" {{action 'invalidateSession'}}>Logout</a>
    {{/unless}}
    </td>
  </tr>
</table>

<h1>Hello World!</h1>
{{#if session.isAuthenticated}}
Welcome {{session.account.username}}
{{/if}}
<br>

{{outlet}}
