{{#unless editing}}
<li {{action 'edit'}}>
  {{secret.body}}
</li>
{{else}}
<li>
  {{input value=secret.body}}
  <input type="button" value="Save" {{action 'save' secret}}>
  <input type="button" value="Cancel" {{action 'cancel'}}>
</li>
{{/unless}}
{{yield}}
